
@using FileManger_Application.Views.ViewsDTOs
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="auth-card">
    <div class="card shadow-sm border-0">
        <div class="card-body p-4">

            <h3 class="fw-bold text-center mb-3">Welcome Back</h3>
            <p class="text-center text-muted mb-4">Login to continue to OutSave</p>

            <form method="post" >

                <div class="mb-3">
                    <label>Email Address</label>
                    <input type="email" asp-for="Email" name="Email" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" asp-for="Password" class="form-control" required />
                </div>

                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <input type="checkbox" asp-for="RememberMe" /> Remember me
                    </div>
                    <a href="/Account/ForgotPassword">Forgot password?</a>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-2">Login</button>

                <p class="text-center mt-3">
                    New to OutSave? <a asp-action="Register" asp-controller="Account">Create an account</a>
                </p>

            </form>
        </div>
    </div>
</div>
